body {
	background-color: aliceblue !important;
}

.title {
	color: black;
	font-family: 'Amatic SC';
	font-size: 50px;
	text-align: center;
}

#playerTurn {
	border-bottom: 1px solid;
}

.blue {
	color: blue;
}

.green {
	color: green;
}

.center {
	text-align: center;
}

.gameboard {
	width: 61%;
}

.scoreboard {
	width: 39%;
}